<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0                       http://maven.apache.org/xsd/settings-1.0.0.xsd">
   <localRepository>${user.home}/.m2/repository</localRepository>
 
   <servers>
      <server>
         <id>BuildKitePersonalTest</id>
         <username>riffer7</username>
         <password>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</password>
      </server>
   </servers>
   <profiles>
      <profile>
         <id>default</id>
         <activation>
            <activeByDefault>true</activeByDefault>
         </activation>
         <repositories>
            <repository>
               <id>glassfish</id>
               <name>glassfishRepo</name>
               <url>http://mavenrepository.com/</url>
            </repository>
            <repository>
               <id>maven1</id>
               <name>central repository</name>
               <url>http://download.java.net/maven/1/</url>
            </repository>
            <repository>
               <id>maven2</id>
               <name>central repository</name>
               <url>http://download.java.net/maven/2/</url>
            </repository>
            <repository>
               <id>jboss</id>
               <name>jboss</name>
               <url>http://repository.jboss.org/nexus/content/groups/public-jboss/</url>
            </repository>
            <repository>
               <id>mvnrepo</id>
               <name>mvnrepo</name>
               <url>https://mvnrepository.com/artifact/</url>
            </repository>           
            
            <!-- MuleSoft public repositories -->
 
            <repository>
               <id>mulesoft-release</id>
               <url>https://repository.mulesoft.org/nexus/content/groups/public</url>
               <releases>
                  <enabled>true</enabled>
               </releases>
               <snapshots>
                  <enabled>false</enabled>
               </snapshots>
            </repository>
            <repository>
               <id>central</id>
               <url>http://repo.maven.apache.org/maven2/</url>
               <releases>
                  <enabled>true</enabled>
               </releases>
               <snapshots>
                  <enabled>true</enabled>
               </snapshots>
            </repository>
            <!-- MuleSoft EE repositories -->
            <repository>
                <id>MuleRepository</id>
                <name>MuleRepository</name>
                <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
                <layout>default</layout>
                <releases>
                    <enabled>true</enabled>
                </releases>
                <snapshots>
                    <enabled>true</enabled>
                </snapshots>
            </repository>           
            <repository>
               <id>muleAuthenticated</id>
               <url>https://repository.mulesoft.org/nexus/content/repositories/releases-ee/</url>
               <releases>
                  <enabled>true</enabled>
               </releases>
               <snapshots>
                  <enabled>false</enabled>
               </snapshots>
            </repository>          
         </repositories>
 
         <pluginRepositories>
            <pluginRepository>
               <id>mulesoft-release</id>
               <name>mulesoft release repository</name>
               <layout>default</layout>
               <url>https://repository.mulesoft.org/nexus/content/groups/public</url>
               <snapshots>
                  <enabled>false</enabled>
               </snapshots>
            </pluginRepository>
         </pluginRepositories>
 
      </profile>
   </profiles>
   <pluginGroups>
      <pluginGroup>org.mule.tools</pluginGroup>
   </pluginGroups>
</settings>